/* chưa sử dụng chia cột bảng */
.form-columns {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 12px;
}

.form-columns label {
  max-width: 150px;
  font-weight: bold;
  padding-top: 6px;
}

.form-columns input[type="text"],
.form-columns textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-columns textarea {
  resize: vertical;
}

.form-columns button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.form-columns button[type="submit"]:hover {
  background-color: #0056b3;
}
/* ---------- */
#label-bt, #label-td {
    margin-right: 30px;
    color: black;
    font-weight: normal;
}

#label-bt.selected {
    color: #007bff;
    font-weight: bold;
}

#label-td.selected {
    color: #dc3545;
    font-weight: bold;
}