<div class="tab-pane fade show active" id="tab-list" role="tabpanel">
  <div class="bg-white rounded shadow-sm">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-center">
          <th>STT</th>
          <th>Mã BN</th>
          <th>Họ tên</th>
          <th>Giới tính</th>
          <th>Ngày sinh</th>
          <th>SĐT</th>
          <th>Phiếu kết quả</th>
        </tr>
      </thead>
      <tbody id="patientTableBody">
        <!-- AJAX render -->
      </tbody>
    </table>
  </div>
</div>


{% include "contract/includes/_modal_pdf.html" %}