<!-- Modal chi tiết cho mobile -->
<div class="modal" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog--list modal-dialog-centered">
    <div class="modal-content border-0 shadow rounded">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title" id="detailModalLabel">Thông tin chi tiết</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Đóng"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item"><strong>Tên công ty:</strong> <span id="modalCompany"></span></li>
<!--          <li class="list-group-item"><strong>Mã hợp đồng:</strong> <span id="modalContractNumber"></span></li>-->
          <li class="list-group-item"><strong>SL Nhân viên:</strong> <span id="modalEmployee"></span></li>
          <li class="list-group-item"><strong>Ngày lấy máu:</strong> <span id="modalBloodCollection"></span></li>
          <li class="list-group-item"><strong>Ngày bắt đầu khám:</strong> <span id="modalStart"></span></li>
          <li class="list-group-item"><strong>Ngày kết thúc khám:</strong> <span id="modalEnd"></span></li>
<!--          <li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--            <strong>Danh sách KH:</strong>-->
<!--            <button -->
<!--              class="btn btn-sm btn-info text-center align-middle open-upload-modal-mobile">-->
<!--              Xem DS-->
<!--            </button>-->
<!--          </li>-->
          <div class="modal-footer border-0 pt-2">
            <span id="modalStatus" class="ms-auto"></span>
          </div>
        </ul>
        <!-- Nút Sửa / Xóa -->
        <div class="d-flex justify-content-center gap-3 mt-4">
          <a href="" id="modalEditLink" class="btn btn-warning btn-sm px-4 py-2">Sửa</a>
          <a href="" id="modalDeleteLink" class="btn btn-danger btn-sm px-4 py-2" style="display: none;">Xóa</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal xác nhận xóa -->
<div class="modal" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-start">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa hợp đồng "<span id="contractInfo"></span>" không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <a id="confirmDeleteBtn" href="#" class="btn btn-danger">Xóa</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal upload -->
<div class="modal" id="uploadPatientModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog--list">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><span id="modal-company-name"></span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Tabs -->
        <div class="modal-body">
          <input type="hidden" id="modal-company-id" name="company">
          <ul class="nav nav-tabs mb-3" id="uploadTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="tab-list-tab" data-bs-toggle="tab" data-bs-target="#tab-list" type="button" role="tab">Danh sách</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab-upload-tab" data-bs-toggle="tab" data-bs-target="#tab-upload" type="button" role="tab" hidden>Upload Excel</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab-create-tab" data-bs-toggle="tab" data-bs-target="#tab-create" type="button" role="tab">Thêm mới</button>
            </li>
<!--            <li class="nav-item" role="presentation">-->
<!--              <button class="nav-link" id="tab-checkup-tab" data-bs-toggle="tab" data-bs-target="#tab-checkup" type="button" role="tab">Quản lý gói khám</button>-->
<!--            </li>-->
          </ul>

          <div class="tab-content" id="uploadTabContent">
            <!-- Tab 1: Danh sách -->
            {% include "contract/includes/_tab_patient_list.html" %}

            <!-- Tab 2: Upload Excel -->
            {% include "contract/includes/_tab_upload_excel.html" %}

            <!-- Tab 3: Thêm mới -->
            {% include "contract/includes/_tab_add_patient.html" %}

            <!-- Tab 4: Quản lý gói khám -->
<!--            {% include "contract/includes/_tab_checkup.html" %}-->
          </div>

          <!-- Spinner -->
          <div id="uploadSpinner" class="text-center mt-2 d-none">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Đang xử lý...</span>
            </div>
          </div>
        </div>

      </div>
    
  </div>
</div>

