{% extends "base.html" %}

{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'account/css/profile.css' %}">
  <meta name="description" content="Tài khoản">
{% endblock %}

{% block content %}

<h2>Tài khoản</h2>

<div class="profile-container">
{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% elif patient %}
    <div class="profile-section">
        <h3>Thông tin cá nhân</h3>
        <ul>
            <li><strong>Họ tên:</strong> {{ patient.ho_ten }}</li>
            <li><strong>Giới tính:</strong> {{ patient.gioi_tinh|default:"" }}</li>
            <li><strong>Ngày sinh:</strong> {{ patient.ngay_sinh }}</li>
            <li><strong>Số điện thoại:</strong> {{ patient.phone|default:"" }}</li>
            <li><strong>Địa chỉ:</strong> {{ patient.dia_chi|default:"" }}</li>
            <!-- <li><strong>Ngày khám:</strong> {{ patient.NGAYKHAM|default:"" }}</li> -->
        </ul>
    </div>
    <div class="profile-section">
        <h3>Thông tin đăng nhập</h3>
        <ul>
            <li><strong>Mã khách hàng:</strong> {{ patient.ma_bn }}</li>
            <li><strong>Mật khẩu</strong> ****** </li>
        </ul>
    </div>
{% else %}
    <div>Không có thông tin hiển thị.</div>
{% endif %}
</div>

{% endblock %}

{% block extra_scripts %}{% endblock %}