<div class="modal fade" id="pdfModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-pdf" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
      </div>
      <div class="modal-body p-0">
        <iframe id="pdfViewer" src="" width="100%" height="100%" style="border:0;"></iframe>
      </div>

      <div class="modal-footer border-0 pb-0">
        {% if request.user.is_superuser %}
          <button type="button" class="btn btn-danger btn-sm me-auto" id="btnDeleteDoc">
            <i class="fa-solid fa-trash"></i> Xoá phiếu này
          </button>
        {% endif %}
      </div>

    </div>
  </div>
</div>
