<div class="tab-pane fade" id="tab-create" role="tabpanel">
  <form id="createPatientForm">
    {% csrf_token %}
    <input type="hidden" id="create-company-id" name="company_id">
    <div class="mb-2">
      <label>Mã bệnh nhân</label>
      <input type="text" class="form-control" name="ma_bn" required>
    </div>
    <div class="mb-2">
      <label>Họ tên</label>
      <input type="text" class="form-control" name="ho_ten" required>
    </div>
    <div class="mb-2">
      <label>Giới tính</label>
      <select class="form-select" name="gioi_tinh" required>
        <option value="">--Chọn--</option>
        <option value="Nam">Nam</option>
        <option value="Nữ">Nữ</option>
      </select>
    </div>
    <div class="mb-2">
      <label>Ngày sinh</label>
      <input type="date" class="form-control datepicker" name="ngay_sinh">
    </div>
    <div class="mb-2">
      <label>SĐT</label>
      <input type="tel" class="form-control" name="phone" placeholder="Số điện thoại" pattern="0[0-9]{9,10}">
    </div>
    <div class="text-end mt-2">
      <button type="submit" class="btn btn-success">Thêm</button>
    </div>
  </form>
</div>