<div class="tab-pane fade" id="tab-upload" role="tabpanel">
              <form id="uploadForm" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" id="upload-company-id" name="company_id" value="">
              <div class="mb-3">
                <label class="form-label">Chọn file Excel</label>
                <input type="file" name="excel_file" class="form-control" required />
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btn-upload-excel">Tải lên</button>
              </div>
              </form>
            </div>