{% extends "base_admin.html" %}

{% block title %}Form khám răng miệng{% endblock %}

{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'clinical/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'clinical/css/dental_form.css' %}">
  <meta name="description" content="Form khám răng miệng">
{% endblock %}

{% block content %}

<div style="display: flex;">
<!-- Danh sách bệnh nhân -->
{% include "clinic/includes/list_patient.html" %}

<!-- Form khám -->
<div class="form-container js-form-container">
  <div class="form-header">
      <h4 class="form-title">🦷 Tình trạng răng miệng</h4>
      <button type="button" class="btn-clear-form" onclick="clearDentalForm()">🧹 Refresh</button>
  </div>

  {% if messages %}
    <div class="message-container">
      {% for message in messages %}
        <div class="alert {{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <form method="post" id="dental-exam-form">
    {% csrf_token %}
    <!-- CSRF token for security -->
    <input type="hidden" name="patient_id" id="patient_id" value="{{ patient.id }}">
    <input type="hidden" name="dental_exam_id" id="dental_exam_id" value="{{ dental_exam.id }}">
    {% if user.is_authenticated %}
      <div id="js-print-fullname-signature" style="display: none;">{{ user.get_full_name }}</div>
    {% else %}
      <div id="js-print-fullname-signature" style="display: none;"></div>
    {% endif %}
  
    <!-- Dòng 1: Họ tên, ngày sinh, giới tính -->
    <div class="form-row">
    <div class="form-group" style="flex: 2;">
      <label>Họ tên</label>
      <input type="text" name="full_name" id="full_name" autocomplete="off"   required>
    </div>
    <div class="form-group" style="flex: 1;">
      <label>Ngày sinh</label>
      <!-- input ẩn chứa giá trị date cho Django nhận -->
{#      <input type="text" name="dob" id="dob">#}
      <input type="text" name="dob" id="dob" placeholder="dd/mm/yyyy" autocomplete="off" required>
    </div>
    <div class="form-group" style="flex: 1;">
      <label>Giới tính</label>
      <input type="text" name="gender" id="gender" autocomplete="off"  required>
    </div>
    <div class="form-group" style="flex: 1;">
        <label>Mã bệnh nhân</label>
        <input type="text" name="patient_code" id="patient_code" autocomplete="off"  required>
    </div>
    </div><br>

    <!-- Than phiền chính -->
    <div class="form-row">
      <label><strong>Tình trạng răng:</strong></label>
      <table class="complaint-table js-complaint-table">
          <tr>
              {% for tooth in tooth_upper %}
              <th>{{ tooth }}</th>
              {% endfor %}
          </tr>
          <tr>
              {% for tooth in tooth_upper %}
              <td><input type="text" name="tooth_upper_{{ tooth }}" maxlength="2" oninput="validateMainComplain(this)" style="width: 40px;" autocomplete="off"></td>
              {% endfor %}
          </tr>
          <tr><td colspan="16" style="height: 10px;"></td></tr>
          <tr>
              {% for tooth in tooth_lower %}
              <td><input type="text" name="tooth_lower_{{ tooth }}" maxlength="2" oninput="validateMainComplain(this)" style="width: 40px;" autocomplete="off"></td>
              {% endfor %}
          </tr>
          <tr>
              {% for tooth in tooth_lower %}
              <th>{{ tooth }}</th>
              {% endfor %}
          </tr>
      </table>
    </div>

    <div class="note-box">
      <div class="note-header">
          <label><strong>Chú thích (Notations)</strong></label>
          <button type="button" class="auto-fill-btn" onclick="fillMainComplainWithZero()">Đặt tất cả là 0</button>
      </div>
      <div class="note-three-columns">
        {% for column in note_columns %}
            <div class="note-column">
                {% for item in column %}
                    <div class="note-item" data-value="{{ item.code }}">
                        {{ item.code }}: {{ item.description_vi }}{% if item.description_en %} ({{ item.description_en }}){% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
      </div>
    </div>   

    <!-- PHÂN LOẠI MẤT RĂNG -->
    <div class="form-row inline-radio-group">
      <label class="font-weight--bold">Phân loại mất răng:</label>
      <select name="missing_type" id="missing_type" class="form-select" required>
        <option value="">-- Chọn phân loại --</option>
        <option value="">(Để trống)</option>
        <option value="I">I</option>
        <option value="II">II</option>
        <option value="III">III</option>
        <option value="IV">IV</option>
        <option value="V">V</option>
      </select>
    </div>

    <!-- Tình trạng RHM khác -->
    <div class="form-row">
        <div class="form-group" style="flex: 1;">
            <label>Tình trạng RHM khác</label>
            <textarea name="other_oral_conditions" id="other_oral_conditions" rows="3"></textarea>
        </div>
    </div>

    <!-- Sức nhai + Kết luận -->
    <div class="form-row inline-radio-group">
        <label class="font-weight--bold">Sức nhai (%)</label>
        <input type="number" id="chewing_ability" class="form-input" name="chewing_ability" placeholder="VD: 95" min="0" max="100" step="1" maxlength="3"
        oninput="validateSucNhai(this)" autocomplete="off" required>
    </div>

    <!-- PHÂN LOẠI SỨC KHỎE RHM -->
    <div class="form-row inline-radio-group">
      <label class="font-weight--bold">Phân loại sức khỏe:</label>
      <select name="health_classification" id="health_classification" class="form-select" required>
          <option value="">-- Chọn phân loại --</option>
          <option value="I">I</option>
          <option value="II">II</option>
          <option value="III">III</option>
          <option value="IV">IV</option>
          <option value="V">V</option>
      </select> 
    </div>

    <div class="form-row">
        <div class="form-group" style="flex: 1;">
            <label>Kết luận</label>
            <textarea id="conclusion" name="conclusion" rows="3"></textarea>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4">
        <button id="btnSaveOnly" type="button" class="btn-print">💾 Lưu dữ liệu</button>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <button id="btnSaveAndPrint" type="button" class="btn-print">🖨️ Lưu & In phiếu</button>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
{#        <label for="printDate">Ngày in:</label>#}
        <input type="date" class="form-control date-picker" id="printDate" name="printDate" placeholder="Ngày in"/>
      </div>
    </div> 
  </form>
</div>

</div>

{% include "clinic/includes/printing_form.html" %}

{% endblock %}

{% block extra_scripts %}
<script>
  var API_SAVE_DENTAL_EXAM_URL = "{% url 'clinical:api_save_dental_exam' %}";
</script>
<script src="{% static 'clinical/js/clinic.js' %}"></script>
{#  <script src="{% static 'clinical/js/dental_form.js' %}"></script>#}
{% endblock %}

