{% extends "base_admin.html" %}

{% block title %}Sum Assistant{% endblock %}

{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'clinical/css/sum_assistant.css' %}">
  <meta name="description" content="Sum Assistant">
{% endblock %}

{% block content %}
<div class="container">
    <h1>SUM Assistant</h1>
    <div class="toolbar">
        <input type="text" id="search" placeholder="Lọc..." />
        <select id="groupFilter">
            <option value="all">Tất cả nhóm</option>
            <option value="group1">Nội</option>
            <option value="group2">Nội</option>
            <option value="group3">Ngoại</option>
            <option value="group4">SPK</option>
            <option value="group5">TMH</option>
            <option value="group6">Da liễu</option>
            <option value="group7">RHM</option>
        </select>
<!--        <div class="toolbar-right">-->
<!--            <button class="toggle-btn" onclick="toggleDarkMode()">🌙 Chế độ tối</button>-->
            <button class="unchecked-btn" onclick="clearAll()">🗑️ Bỏ chọn tất cả</button>
<!--        </div>-->
    </div>
</div>

<div class="checkbox-groups" id="checkboxGroups"></div>
<div class="container">
    <h3>Kết luận:
    <button onclick="copyToClipboard('textarea1', this)" class="copy-btn">📋 Sao chép</button>
    </h3>
    <textarea id="textarea1" placeholder="Kết luận..."></textarea>

    <h3>Tư vấn:
    <button onclick="copyToClipboard('textarea2', this)" class="copy-btn">📋 Sao chép</button>
    </h3>
    <textarea id="textarea2" placeholder="Tư vấn..."></textarea>
</div>

  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
  <footer class="copyright-footer">
    <p>Design by <span>D&D Intelligent Solutions&reg;</span></p>
  </footer>

{% endblock %}

{% block extra_scripts %}
  <script>
    const LOAD_FIXTURE_URL = "{% url 'clinical:load_fixture_data' %}";
  </script>
  <script src="{% static 'clinical/js/sum_assistant.js' %}"></script>
{% endblock %}



