{% load static %}
<footer class="site-footer">
    <div class="footer-left">
        <img src="{% static 'img/logo_vmd.jpg' %}" alt="Logo Vietmedi" class="footer-logo">
        <div class="footer-info">
            <div class="footer-title">
                <span class="text-orange">Vietmedi&nbsp;Healthcare&nbsp;Center</span>
            </div>
            <div class="footer-subname">
                Phòng&nbsp;khám đa&nbsp;khoa&nbsp;Vietmedi
            </div>
            <div>
                <b>Địa chỉ:</b> Số&nbsp;339&nbsp;Điện&nbsp;Biên&nbsp;Phủ, phường&nbsp;Bàn&nbsp;Cờ, TP.&nbsp;Hồ&nbsp;Chí&nbsp;Minh
            </div>
            <div>
                <b>Tel:</b> <span class="text-orange">028.38.993.339</span>
            </div>
            <div>
                <b>Hotline:</b> <span class="text-orange">0848.993.339</span>
            </div>
            <div>
                <b>Email:</b> <a href="mailto:info@vietmediclinic.com">info@vietmediclinic.com</a>
            </div>
            <div>
                <b>Website:</b> <a href="https://vietmediclinic.com" target="_blank">vietmediclinic.com</a>
            </div>
        </div>
    </div>
    <div class="footer-right">
        <div class="qr-block">
            <img src="{% static 'img/qr-vietmediclinic-com.png' %}" alt="QR Website" class="footer-qr">
            <div class="qr-caption website-caption">Website</div>
        </div>
        <div class="qr-block">
            <img src="{% static 'img/qr_zalo_oa_vmd.jpg' %}" alt="QR Zalo OA" class="footer-qr">
            <div class="qr-caption zalo-caption">Zalo OA</div>
        </div>
    </div>
</footer>
