{% load user_tags %}
{% load static %}
<div id="print-container">
<div id="printSection">
    <!-- Logo góc trái -->
    <img class="logo" src="{% static 'images/logo/logo_bw.png' %}" alt="VMD logo">

    <div class="info-row">
        <div class="info-col">
            <p><strong>Họ tên (Full name):</strong> <span class="js-print-fullname"></span></p>
            <p><strong>ID:</strong> <span class="js-print-ID"></span></p>
        </div>
        <div class="info-col right-align">
            <p><strong>Giới tính (Gender):</strong> <span class="js-print-gender"></span></p>
            <p><strong>Năm sinh (DOB):</strong> <span class="js-print-dob"></span></p>
        </div>
    </div>

    <h2>TÌNH TRẠNG RĂNG MIỆNG</h2>
    <h3>(DENTAL EXAMINATION)</h3>

    <p><strong>Tình trạng răng:</strong></p>
    <!-- Bảng răng -->
    <table class="teeth-table">
        <!-- Hàng số răng hàm trên -->
        <tr>
            <td>18</td><td>17</td><td>16</td><td>15</td><td>14</td><td>13</td><td>12</td><td>11</td>
            <td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td>
        </tr>
        <!-- Hàng giá trị răng hàm trên -->
        <tr>
            <td id="printTooth_18"></td><td id="printTooth_17"></td><td id="printTooth_16"></td><td id="printTooth_15"></td>
            <td id="printTooth_14"></td><td id="printTooth_13"></td><td id="printTooth_12"></td><td id="printTooth_11"></td>
            <td id="printTooth_21"></td><td id="printTooth_22"></td><td id="printTooth_23"></td><td id="printTooth_24"></td>
            <td id="printTooth_25"></td><td id="printTooth_26"></td><td id="printTooth_27"></td><td id="printTooth_28"></td>
        </tr>
         <!-- Hàng giá trị răng hàm dưới -->
         <tr>
            <td id="printTooth_48"></td><td id="printTooth_47"></td><td id="printTooth_46"></td><td id="printTooth_45"></td>
            <td id="printTooth_44"></td><td id="printTooth_43"></td><td id="printTooth_42"></td><td id="printTooth_41"></td>
            <td id="printTooth_31"></td><td id="printTooth_32"></td><td id="printTooth_33"></td><td id="printTooth_34"></td>
            <td id="printTooth_35"></td><td id="printTooth_36"></td><td id="printTooth_37"></td><td id="printTooth_38"></td>
        </tr>
        <!-- Hàng số răng hàm dưới -->
        <tr>
            <td>48</td><td>47</td><td>46</td><td>45</td><td>44</td><td>43</td><td>42</td><td>41</td>
            <td>31</td><td>32</td><td>33</td><td>34</td><td>35</td><td>36</td><td>37</td><td>38</td>
        </tr>
    </table>

    <!-- Chú thích -->
    <strong>Chú thích (Notations):</strong><br>
    <div class="notes">
        {% for column in note_columns %}
            <div class="note-columns">
                {% for item in column %}
                    <div class="note-item" data-value="{{ item.code }}">
                        {{ item.code }}: {{ item.description_vi }}{% if item.description_en %} ({{ item.description_en }}){% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <p><strong>Phân loại mất răng (Classification of missing teeth):&nbsp&nbsp&nbsp <span id="printMissing_type"></span></strong></p>

    <p><strong>Tình trạng RHM khác: <span id="printOther_conditions"></span></strong></p>
    
    <p><strong>Sức nhai (Chewing ability):</strong> <span id="printSucNhai"></span></p>

    <p><strong>Phân loại sức khỏe:</strong> <span class="js-health-classification"></span></p>

    <p><strong>Kết luận (Conclusion):</strong><br>
    <span id="printConclusion" class="conclusion"></span></p>

    {% load static %}
    <div class="print-footer">
      <div class="signature">
          <div class="js-print-date"></div>

          <div class="signature-image-area">
              {% if user.username|lower == 'dthoat.dr' %}
                  <img id="signature-img" class="dr-signature" src="{% static 'clinic/signature/bs_hoat.png' %}">
              {% endif %}
          </div>

          <div class="signature-name">
              {% if request.user|in_group:"Dentistry" %}
                  {% if user.last_name or user.first_name %}
                      <strong>Bs. {{ user.last_name }} {{ user.first_name }}</strong>
                  {% elif user.get_full_name %}
                      <strong>Bs. {{ user.get_full_name }}</strong>
                  {% endif %}
              {% endif %}
          </div>
      </div>
  </div>
</div>
</div>
