{% extends "base.html" %}


{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'booking/css/styles.css' %}">
  <meta name="description" content="Đăng ký lịch khám thành công">
{% endblock %}


{% block content %}
<div class="thank-you-container">
    {% if is_update %}
        <h2>Thông tin đã được cập nhật!</h2>
    {% else %}
        <h2>🎉 Cảm ơn bạn đã đăng ký!</h2>
    {% endif %}
    <p>Thông tin đăng ký của bạn:</p>
    <ul>
        <li>
            Ngày: {{ schedule.date|date:"d/m/Y" }} -
            Ca: {{ schedule.get_shift_display }}
        </li>
    </ul>
    <br>
    <div style="font-weight: 580; color:rgb(3, 129, 24); text-align: center;">Vui lòng đến đúng buổi hẹn để được phục vụ tốt nhất.</div>
    <br>
    <a href="{% url 'booking:register_schedule' %}" class="back-button">← Quay lại lịch</a>
</div>

{% endblock %}