h2 {
    text-align: center;
    margin-top: 30px;
}
.form-sync {
    margin: 30px auto;
    padding: 24px; 
    background: #f4f6fa; 
    border-radius: 10px; 
    max-width: 400px;
}
.form-group { 
    margin-bottom: 16px;
}
label { 
    display: block; 
    margin-bottom: 4px; 
    font-weight: bold;
}
input[type="text"] { 
    padding: 6px 10px; 
    width: 100%; 
    border: 1px solid #bbb; 
    border-radius: 6px;
}
button { 
    background: #3498db; 
    color: #fff; 
    border: none; 
    margin: 0 auto; 
    padding: 10px 20px; 
    border-radius: 6px; 
    font-size: 16px; 
    cursor: pointer;
}
.result { margin-top: 20px; font-weight: bold; color: green;}
.last-sync {
    margin-top: 20px; 
    font-size: 15px; 
    text-align:center;
    color : #444;
}