{% extends "base_admin.html" %}

{% block title %}Sum report{% endblock %}

{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'sum_report/css/sum_report.css' %}">
    <meta name="description" content="Sum report">
{% endblock %}

{% block content %}
<div class="upload-page">
  <div class="upload-card">
    <h3 class="upload-page-title">SUM report</h3>
    <form method="post" enctype="multipart/form-data" class="upload-form">
        {% csrf_token %}
        <div class="form-group">
            <label>1. Danh sách khách hàng (customer_list.xlsx):</label>
            <input type="file" name="customer_list" accept=".xlsx" required>
        </div>

        <div class="form-group">
            <label>2. Danh sách xét nghiệm (test_list.xlsx):</label>
            <input type="file" name="test_list" accept=".xlsx" required>
        </div>

        <div class="form-group">
            <label>3. Danh sách khám lâm sàng (clinical_list.xlsx):</label>
            <input type="file" name="clinical_list" accept=".xlsx" required>
        </div>

        <div class="form-group">
            <label>4. Danh sách chẩn đoán hình ảnh (imaging_list.xlsx):</label>
            <input type="file" name="imaging_list" accept=".xlsx" required>
        </div>

        <button type="submit">🚀 Xử lý dữ liệu</button>
    </form>

    {% if output_file %}
        <div class="result">
            <p>✅ File đã được xử lý. <a href="{{ output_file }}" download>📥 Tải về tại đây</a></p>
        </div>
    {% endif %}

    <div id="unexpected-data-box">
        <strong>Dữ liệu bất thường</strong>
        {% if unexpected_data_list %}
            {% if unexpected_data_list != None and unexpected_data_list != '' %}
                <div class="table-wrapper">
                    <table class="unexpected-table">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Chỉ số</th>
                                <th>Thông báo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lst in unexpected_data_list %}
                                {% for item in lst %}
                                    <tr>
                                        <td>{{ item.0 }}</td>
                                        <td>{{ item.1 }}</td>
                                        <td>{{ item.2 }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="no-data">✅ Không có dữ liệu bất thường</div>
            {% endif %}
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
