{% extends "base.html" %}

{% block title %}Quên mật khẩu{% endblock %}

{% load static %}
{% block extra_head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/css/styles.css' %}">
    <meta name="description" content="Quên mật khẩu">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="overlay"></div>
    <h3>Quên mật khẩu</h3>

    {% if form.non_field_errors %}
        <div class="form-error form-nonfield">
            {{ form.non_field_errors.0 }}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% if form.patient_code %}
        <div class="form-group">
            <label for="id_patient_code">Mã khách hàng:</label>
            {{ form.patient_code }}
            {% if form.patient_code.errors %}
                <div class="form-error">{{ form.patient_code.errors.0 }}</div>
            {% endif %}
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_phone">Số điện thoại:</label>
            {{ form.phone }}
            {% if form.phone.errors %}
                <div class="form-error">{{ form.phone.errors.0 }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn-login">Gửi mã OTP qua Zalo</button>
        <div class="back-to-login-link">
            <a href="{% url 'authentication:patient_login' %}">← Quay lại đăng nhập</a>
        </div>
    </form>

</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
