{% extends "base.html" %}

{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'authentication/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'booking/css/styles.css' %}">
  <meta name="description" content="Chào mừng">
{% endblock %}

{% block content %}

<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
  <div class="home-actions-row">
    <!-- Đăng ký lịch khám -->
    <a href="{% url 'booking:register_schedule' %}" style="text-decoration: none;">
      <div class="home-action-card home-action-register"
           onmouseover="this.style.transform='scale(1.06)';" 
           onmouseout="this.style.transform='scale(1)';">
        <span style="font-size:3.2rem; margin-bottom: 18px;">🗓️</span>
        Đăng ký lịch khám<br>doanh nghiệp
      </div>
    </a>
    <!-- Hồ sơ sức khỏe -->
{#    <a href="{% url 'health_record:patient_report' %}" style="text-decoration: none;">#}
{#      <div class="home-action-card home-action-profile"#}
{#           onmouseover="this.style.transform='scale(1.06)';"#}
{#           onmouseout="this.style.transform='scale(1)';">#}
{#        <span style="font-size:3.2rem; margin-bottom: 18px;">🩺</span>#}
{#        Hồ sơ sức khỏe#}
{#      </div>#}
{#    </a>#}
  </div>
</div>
{% endblock %}
